﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DMB Group</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/960.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
    <script type="text/javascript" src="~/Scripts/Copse_400.font.js"></script>
    <script type="text/javascript" src="~/Scripts/Gabriola_400.font.js"></script>
    <script type="text/javascript">
	Cufon.replace('h1', {fontFamily: 'Copse', hover:true})
	Cufon.replace('p.info', {fontFamily: 'Gabriola', hover:true})
    </script>

</head>
<body> @*style="background-image: url('../../Content/image/dmblogo1-resize.jpg'); background-repeat:no-repeat; background-position:center top; background-size:auto;">*@
    <div id="shim" ></div>
    <h1 class="logo1" ></h1>
    <div id="content">
        @*<h1 class="logo1"> </h1>*@
        <h1 class="logo">@*<span class="one">test</span> <span class="two"></span>*@</h1>
        <p class="info">
            Our website is coming soon.<br />
            <span>In the mean time contact us on <a href="mailto:info@dmbgroup.com.au?Subject=Hello%20admin">info@dmbgroup.com.au</a> for more information</span>
        </p>
        @*<p class="links">
                                <a href="#" class="li">Linked In</a>
            <a href="#" class="tw">Twitter</a>
            <a href="#" class="fb">Facebook</a>
        </p>*@
    </div>
</body>
</html>
